@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  color: #673110 !important;
}
.ant-menu-item-selected {
  background-color: #673110 !important;
}
.ant-menu-item-selected a {
  color: white !important;
}
.ant-drawer-body {
  background-color: #feecd6 !important;
}
.list {
  columns: 300px;
}
.autoshow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.autorotate {
  animation: autorotateAnimation;
  animation-timeline: view();
}
@keyframes autorotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-in {
  animation: slide-in 0.5s forwards;
  animation-timeline: view();
}

@keyframes slide-in {
  from {
    transform: translateY(-20px); /* Start above the original position */
    opacity: 0; /* Start fully transparent */
  }
  to {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* End fully opaque */
  }
}